@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit',sans-serif;
}

body{
    height: 900vh;
}

nav.Menu-lateral{
    width: 80px;
    height: 100%;
    background-color: black;
    padding: 40px 0px 40px 1%;
    box-shadow:3px 0 0 rgb(255, 60, 0);

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.Menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;

}

.btn-expandir > i{
    color: rgb(255, 255, 255);
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color:rgb(255, 60, 0) ;
}

ul li.item-menu:hover{
    background-color: rgb(255, 60, 0);
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
    opacity: 0;

}

nav.Menu-lateral.expandir .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 1;

}

ul li.item-menu a .icon >i{
    font-size: 30px;
    margin-left: 10px;
}