@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

.App {
  text-align: center;
  background-color: rgba(218, 226, 226, 0.377);
  font-family: 'Inter', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  position: relative;
}

.option-div {
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
}

.option-plant {
  color: rgb(28, 26, 139);
  padding: 1px 5px 1px 5px;
  margin: 1px 2% 1px 2%;
  border-radius: 5px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
